# TheOdyssey Backend Environment Variables

# Sui Configuration
PACKAGE_ID=0x2166afcd79034109782f9a2a72c0d07be7fc8562c9a231a62cb621f76a01aa2e
ADMIN_WALLET=0x2957f0f19ee92eb5283bf1aa6ce7a3742ea7bc79bc9d1dc907fbbf7a11567409

# Network (mainnet, testnet, devnet)
SUI_NETWORK=mainnet

# RPC URL (optional, uses default if not set)
RPC_URL=https://sui-mainnet-rpc.public.bcfnip.com

# Server Port
PORT=3000
